<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script type="text/javascript" src="{{url_for('static', filename='index_source.js')}}"></script>
  <title>Param Inputs</title>
</head>

<body>
  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset>
      <legend><h2>Data Source Inputs</h2></legend>
      {{ form.id_col.label }} {{ form.id_col(title="The ID string used to match records/samples between the X and Y sources") }}
      <br>
      <table>
        <tr>
          <th colspan="2">Data X</th>
          <th colspan="2">Data Y</th>
        </tr>
        <tr>
          <td>{{form.file_x.label}}</td><td>{{form.file_x}}</td>
          <td>{{form.file_y.label}}</td><td>{{form.file_y}}</td>
        </tr>
        <tr>
          <td>{{form.name_x.label}}</td><td>{{form.name_x}}</td>
          <td>{{form.name_y.label}}</td><td>{{form.name_y}}</td>
        </tr>
      </table>
    </fieldset>
    <br>
    <fieldset>
      <legend><h2>Analysis Inputs</h2></legend>
      <div>{{form.params}}</div>
    </fieldset>
    <br>
    {{form.submit}}
  </form>
</body>
</html>