<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='summary_page_styles.css')}}">
  <title>Comparison Results</title>
</head>

<body>
  <h1>Comparison Results</h1>
  <fieldset>
    <legend><h2>Data Source</h2></legend>
    <div class="grid-container">
      <!--Column Headers-->
      <div>Source</div>
      <div>Label</div>
      <div>Count</div>

      <!-- X DATA -->
      <div>X</div>
      <div>{{model.label_x}}</div>
      <div>{{ model._dfX | length }}</div>

      <!-- Y DATA -->
      <div>Y</div>
      <div>{{model.label_y}}</div>
      <div>{{ model._dfY | length }}</div>
      
      <!-- Merged DATA -->
      <div>Merged</div>
      <div>--</div>
      <div>{{ model.dfMerged | length }}</div>
    </div>
  </fieldset>
  <br>
  <fieldset>
    <legend><h2>Parameter Results</h2></legend>
    <table>
      <!--Table Column Headers-->
      <tr>
        <th>Param</th>
        <th>Raw Data</th>
        {% for stat in model._stats %}
        <th>{{ stat_types[stat].value }}</th>
        {% endfor %}  
      </tr>

      <!--Table Rows: parameter results-->
      {% for param in model._params %}
      <tr>
        {% set param_result = model.param_results[param] %}
        <td>{{param}}</td>
        <td><a href="">data</a></td>
        {% for stat in model._stats %}
        <td>{% set stat_result = param_result[stat] %}

        {% if stat == stat_types.lin_reg.name %}
          {% include 'lin_reg_result.html' %}
        {% elif stat == stat_types.t_test.name %}
          {% include 't_test_result.html' %}
        {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </fieldset>
</body>
</html>